:root {
  --vengresso-linkedin-border-colors: rgb(140 140 140 / 0.2);
  --vengresso-linkedin-border-colors-2: rgb(140 140 140 / 0.6);
}

.vengresso-linkedin-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.vengresso-linkedin-section main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 0px 1px var(--vengresso-linkedin-border-colors);
}

.vengresso-linkedin-input {
  margin: 10px;
  width: calc(100% - 20px) !important;
  padding: 10px !important;
  border-radius: 1.5rem !important;
  border: 1px solid var(--vengresso-linkedin-border-colors) !important;
}

.vengresso-linkedin-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.vengresso-linkedin-buttons button {
  background: transparent;
  border: 1px solid var(--vengresso-linkedin-border-colors);
  border-radius: 14px;
  height: 28px;
  padding: 5px 25px;
  cursor: pointer;

  transition: all 200ms ease;
}

.vengresso-linkedin-buttons button:hover {
  opacity: 0.8;
  border-color: var(--vengresso-linkedin-border-colors-2);
}

.vengresso-linkedin-section-foooter {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.vengresso-linkedin-section-hr {
  border-top-width: 1px;
  border-top-color: var(--vengresso-linkedin-border-colors);
  border-top-style: solid;
  width: calc(100% - 11rem);
}

.vengresso-linkedin-section-foooter-powered-by {
  font-size: 1rem !important;
  color: var(--vengresso-linkedin-border-colors-2);
  transform: translateY(-50%);
}